.field{margin:20px;margin-right: 0;overflow: auto}
.fieldUl {
  height: 50px;
  box-shadow: 0 0 0;
  border-bottom: 1px solid #EBEBF5;
}
  .fieldUl > li {
    display: inline-block;
    width: 100px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #EBEBF5;
  }
