<div class="oa-nav">
  <div class="oa-nav-l fl">
    协同OA
  </div>
  <div class="oa-nav-r fr">
    <span>首页</span>
    <span>></span>
    <span>协同OA</span>
  </div>
</div>
<div class="oa-con" id="oaCon">
  <div class="oa-nav-con1">
    <!--个人信息-->
    <div class="userInfo">
      <div class="userInfo-img"  [ngStyle]="{'background-image':'url(../../../../../assets/img/1.jpg)'}"></div>
  
      <div class="userInfo-info">
        <ul>
          <li>刘昊然</li>
          <li>工号：<span>2055</span></li>
          <li>部门：<span>数字互动部</span></li>
          <li>职位：<span>WEB前端工程师</span></li>
          <li>积分：<span>888</span></li>
        </ul>
      </div>
    </div>
    <!--今日考勤-->
    <div class="attendance">
      <h5>今日考勤</h5>
      <div class="fl">
        <div class="at-div1">
          <p class="at-p1">上班</p>
          <p class="at-p2">08:44</p>
          <span class="succ-span att-span1">正常</span>
          <!--<span class="succ-span att-span">外勤</span>-->
        </div>
        <div class="at-div2">
          <p class="at-p1">下班</p>
          <p class="at-p2">15:23</p>
          <span class="error-span att-span2">早退</span>
        </div>
      </div>
    </div>
    <!--通知公告-->
    <div class="notice">
      <p class="notice-p">
        <span class="notice-span1">通知公告</span>
        <span class="notice-span2">更多</span>
      </p>
      <ul class="notice-ul">
        <li>【放假通知】画出你心目中的“最柯南”~</li>
        <li>【公司活动】美的无风感空调二次元代言征集大赛进行中！</li>
        <li>【人事变动】零跑汽车全球有奖征集IP形象！</li>
        <li>【公示公告】全新一代宝来x米家产品创意贴纸设计大赛。</li>
      </ul>
    </div>
    <!--日程安排-->
    <div class="arrange">
      <h5>日程安排</h5>
      <div class="arrange-div">
        <p class="arrange-p1">
          <span class="arrange-span1">季度优秀项目评选会议</span>
          <span class="arrange-span2">T5会议室</span>
        </p>
        <p class="arrange-p2">2018年12月12日  09:00-12:00</p>
      </div>
      <div class="arrange-div">
        <p class="arrange-p1">
          <span class="arrange-span1">季度优秀项目评选会议</span>
          <span class="arrange-span2">T5会议室</span>
        </p>
        <p class="arrange-p2">2018年12月12日  09:00-12:00</p>
      </div>
    </div>
  </div>
  <div class="oa-content">
    <!--任务工单-->
    <div class="repairOrder">
      <h5 class="repairOrder-h5">
        <span class="repairOrder-span1">任务工单</span>
        <span class="repairOrder-span2">更多</span>
      </h5>
      <!--第一种状态-->
      <div class="repairOrder-info">
        <p class="repairOrder-info-p">
          <span class="repairOrder-info-span1">SaaS平台企业后台UI设计</span>
          <span class="repairOrder-info-span2 succ-span">进行中</span>
        </p>
        <div class="repairOrder-div1">
          <span>
            总工时：
            <span>40h</span>
          </span>
          <span>
            已用工时：
            <span>8h</span>
          </span>
          <span>
            剩余工时：
            <span>32h</span>
          </span>
        </div>
        <div class="repairOrder-div2">
          <span>预计结束时间 ：</span>
          <span>2018年12月15日  18:00</span>
        </div>
        <div class="border1px">
        </div>
      </div>
      <!--第二种状态-->
      <div class="repairOrder-info">
        <p class="repairOrder-info-p">
          <span class="repairOrder-info-span1">SaaS平台企业后台UI设计</span>
          <span class="repairOrder-info-span2 disable-span">已完成</span>
        </p>
        <div class="repairOrder-div1">
          <span>
            总工时：
            <span>40h</span>
          </span>
          <span>
            已用工时：
            <span>8h</span>
          </span>
          <span>
            剩余工时：
            <span>32h</span>
          </span>
        </div>
        <div class="repairOrder-div2-com">
          <span>结束时间 ：</span>
          <span>2018年12月15日  18:00</span>
        </div>
        <div class="border1px">
        </div>
      </div>
      <!--第三种状态-->
      <div class="repairOrder-info">
        <p class="repairOrder-info-p">
          <span class="repairOrder-info-span1">SaaS平台企业后台UI设计</span>
          <span class="repairOrder-info-span2 yellow-span">已取消</span>
        </p>
        <div class="repairOrder-div1">
          <span>
            总工时：
            <span>40h</span>
          </span>
          <span>
            已用工时：
            <span>8h</span>
          </span>
          <span>
            剩余工时：
            <span>32h</span>
          </span>
        </div>
        <div class="repairOrder-div2-time">
          <span>结束时间 ：</span>
          <span>2018年12月15日  18:00</span>
        </div>
        <div class="repairOrder-div2-yy">
          <span>结束时间 ：</span>
          <span>2018年12月15日  18:00</span>
        </div>
        <div class="border1px">
        </div>
      </div>
    </div>
    <!--工作汇报-->
    <div class="reportModule">
      <h5 class="repairOrder-h5">
        <span class="repairOrder-span1">工作汇报</span>
        <span class="repairOrder-span2">更多</span>
      </h5>
      <div class="reportModule">
        <div class="reportModule-img fl" [ngStyle]="{'background-image':'url(../../../../../assets/img/1.jpg)'}"></div>
        <div class="reportModule-info fl">
          <p class="reportModule-p1">
            <span>刘昊然</span>
            <span>2018年12月11日 10:07</span>
          </p>
          <p class="reportModule-p2">【日报】2018年12月11日</p>
          <p class="reportModule-p3">1、旭辉半岛音乐节后续结款工作跟进，销账事项旭辉半岛音乐节后续结款工作跟进，销账事项 </p>
          <p class="reportModule-p3">2、旭辉家宴工作筹备，预计下周执行</p>
        </div>
      </div>

      <div class="reportModule">
        <div class="reportModule-img fl" [ngStyle]="{'background-image':'url(../../../../../assets/img/1.jpg)'}"></div>
        <div class="reportModule-info fl">
          <p class="reportModule-p1">
            <span>刘昊然</span>
            <span>2018年12月11日 10:07</span>
          </p>
          <p class="reportModule-p2">【日报】2018年12月11日</p>
          <p class="reportModule-p3">1、旭辉半岛音乐节后续结款工作跟进，销账事项 </p>
          <p class="reportModule-p3">2、旭辉家宴工作筹备，预计下周执行</p>
        </div>
      </div>
      <div class="reportModule">
        <div class="reportModule-img fl" [ngStyle]="{'background-image':'url(../../../../../assets/img/1.jpg)'}"></div>
        <div class="reportModule-info fl">
          <p class="reportModule-p1">
            <span>刘昊然</span>
            <span>2018年12月11日 10:07</span>
          </p>
          <p class="reportModule-p2">【日报】2018年12月11日</p>
          <p class="reportModule-p3">1、旭辉半岛音乐节后续结款工作跟进，销账事项 </p>
          <p class="reportModule-p3">2、旭辉家宴工作筹备，预计下周执行</p>
        </div>
      </div>
    </div>
    <!--行政审批-->
    <div class="administrative">
      <h5 class="repairOrder-h5">
        <span class="repairOrder-span1">行政审批</span>
        <span class="repairOrder-span2">更多</span>
      </h5>
      <div class="reportModule">
        <div class="reportModule-img fl" [ngStyle]="{'background-image':'url(../../../../../assets/img/1.jpg)'}"></div>
        <div class="reportModule-info fl">
          <p class="reportModule-p1">
            <span>刘昊然</span>
            <span>2018年12月11日 10:07</span>
          </p>
          <p class="reportModule-p2">补打卡-HRM</p>
          <p class="reportModule-p3">理由：2018年12月06日 18:00 下班忘记打卡了 </p>
          <span class="error-span">审批中</span>
        </div>
      </div>
      <div class="reportModule">
        <div class="reportModule-img fl" [ngStyle]="{'background-image':'url(../../../../../assets/img/1.jpg)'}"></div>
        <div class="reportModule-info fl">
          <p class="reportModule-p1">
            <span>刘昊然</span>
            <span>2018年12月11日 10:07</span>
          </p>
          <p class="reportModule-p2">补打卡-HRM</p>
          <p class="reportModule-p3">理由：2018年12月06日 18:00 下班忘记打卡了 </p>
          <span class="succ-span">已通过</span>
        </div>
      </div>
      <div class="reportModule">
        <div class="reportModule-img fl" [ngStyle]="{'background-image':'url(../../../../../assets/img/1.jpg)'}"></div>
        <div class="reportModule-info fl">
          <p class="reportModule-p1">
            <span>刘昊然</span>
            <span>2018年12月11日 10:07</span>
          </p>
          <p class="reportModule-p2">补打卡-HRM</p>
          <p class="reportModule-p3">理由：2018年12月06日 18:00 下班忘记打卡了 </p>
          <span class="red-span">已驳回</span>
        </div>
      </div>
    </div>
  </div>
</div>
