<div class="workflow-list-title">
    <h2>工作流</h2>
    <div class="workflow-list-title-menu">
        <span>首页</span> >
        <span>工作流</span> >
        <span>工作流列表</span> >
        <span>供应商预付款申请</span>
    </div>
</div>
<div class="definition">
    <div class="definition-title">
        <h2>供应商预付款申请（创联） </h2>
        <div class="definition-title-box">
            <span>流程模板：</span>
            <small>付款申请-EH-01</small>
            <span>显示名称：</span>
            <small>供应商预付款申请</small>
            <span>查看表单：</span>
            <small>付款-分配支出账户</small>
            <span>备注：</span>
            <small>这是备注这是备注</small>
        </div>
    </div>
    <h2 class="h2-title"><span></span> 工作流定义</h2>
    <div class="definition-one">
        <div class="definition-title">
            <span>1</span>
            <p>供应商预付款申请 </p>
            <i nz-icon type="edit" theme="outline"></i>
            <i nz-icon type="delete" theme="outline"></i>
        </div>
        <div class="invoking">
            <span>调用表单：</span>
            <small>付款-申请</small>
        </div>
        <div class="send">
            <div class="send-top">
                <span>调用表单：</span>
                <small>供应商预付款申请已通过项目负责人审批</small>
            </div>
            <div class="send-bottom">
                <span>调用表单：</span>
                <small>项目申请人</small>
            </div>
        </div>
    </div>
    <div class="auto-20">添加节点</div>

    <div class="definition-one">
        <div class="definition-title">
            <span>2</span>
            <p>供应商预付款申请 </p>
            <i nz-icon type="edit" theme="outline"></i>
            <i nz-icon type="delete" theme="outline"></i>
        </div>
        <div class="invoking">
            <span>调用表单：</span>
            <small>付款-申请</small>
        </div>
        <div class="send">
            <div class="send-top">
                <span>调用表单：</span>
                <small>供应商预付款申请已通过项目负责人审批</small>
            </div>
            <div class="send-bottom">
                <span>调用表单：</span>
                <small>项目申请人</small>
            </div>
        </div>
        <div class="rule">
            <div class="rule-left">
                流转规则<i nz-icon type="plus" theme="outline"></i>
            </div>
            <div class="rule-right">
                <div class="rule-title">
                    <span style="width: 20%">顺序</span>
                    <span style="width: 50%">规则</span>
                    <span style="width: 30%">审批角色/用户</span>
                </div>
                <div class="rule-title">
                    <small style="width: 20%">规则一</small>
                    <small style="width: 50%">所属部门（包含下级）： 公关事业三部、公关事业四部</small>
                    <small style="width: 30%">
                        <i nz-icon type="edit" theme="outline"></i>
                        <i nz-icon type="delete" theme="outline"></i>
                        所属部门（包含下级）： 公关事业三部、公关事业四部
                    </small>
                </div>
                <div class="rule-title">
                    <small style="width: 20%">规则二</small>
                    <small style="width: 50%">所属部门（包含下级）：
                        重庆公司、行政人事部、财务部、市场拓展事业部、品牌推广事业部、展示制作部、平面设计事业部、巨目、星海艺童、公关事业一部、公关事业二部、创意学院</small>
                    <small style="width: 30%">
                        <i nz-icon type="edit" theme="outline"></i>
                        <i nz-icon type="delete" theme="outline"></i>
                        会计(武汉)
                    </small>
                </div>
            </div>

        </div>
        <div class="auto-20">添加节点</div>
    </div>
    <div class="definition-one">
        <div class="definition-title">
            <span>3</span>
            <p>供应商预付款申请 </p>
            <i nz-icon type="edit" theme="outline"></i>
            <i nz-icon type="delete" theme="outline"></i>
        </div>
        <div class="invoking">
            <span>调用表单：</span>
            <small>付款-申请</small>
        </div>
        <div class="send">
            <div class="send-top">
                <span>调用表单：</span>
                <small>供应商预付款申请已通过项目负责人审批</small>
            </div>
            <div class="send-bottom">
                <span>调用表单：</span>
                <small>项目申请人</small>
            </div>
        </div>
        <div class="rule">
            <div class="rule-left" (click)="showModal3()">
                流转规则<i nz-icon type="plus" theme="outline"></i>
            </div>
            <div class="rule-right">
                <div class="rule-title">
                    <span style="width: 20%">顺序</span>
                    <span style="width: 50%">规则</span>
                    <span style="width: 30%">审批角色/用户</span>
                </div>
                <div class="rule-title">
                    <small style="width: 20%">规则一</small>
                    <small style="width: 50%">所属部门（包含下级）： 公关事业三部、公关事业四部</small>
                    <small style="width: 30%">
                        <i nz-icon type="edit" theme="outline"></i>
                        <i nz-icon type="delete" theme="outline"></i>
                        所属部门（包含下级）： 公关事业三部、公关事业四部

                    </small>
                </div>
                <div class="rule-title">
                    <small style="width: 20%">规则二</small>
                    <small style="width: 50%">所属部门（包含下级）：
                        重庆公司、行政人事部、财务部、市场拓展事业部、品牌推广事业部、展示制作部、平面设计事业部、巨目、星海艺童、公关事业一部、公关事业二部、创意学院</small>
                    <small style="width: 30%">
                        <i nz-icon type="edit" theme="outline"></i>
                        <i nz-icon type="delete" theme="outline"></i>
                        会计(武汉)

                    </small>
                </div>
            </div>
        </div>
        <div class="auto-20" (click)="showModal()">添加节点</div>
    </div>

</div>


<nz-modal [(nzVisible)]="isVisible" nzTitle="添加节点" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" class="addNode">
    <div class="addNode-list">
        <label for="">节点名称：</label>
        <input nz-input placeholder="" [(ngModel)]="value">
    </div>
    <div class="addNode-list">
        <label for="">调用表单：</label>
        <input nz-input placeholder="" [(ngModel)]="value" (click)="showModal1()">
    </div>
    <div class="addNode-list">
        <label for="">是否会签：</label>
        <div class="audiu">
            <nz-radio-group [(ngModel)]="radioValue1" [nzButtonStyle]="'solid'">
                <label nz-radio-button nzValue="A">是</label>
                <label nz-radio-button nzValue="B">否</label>
            </nz-radio-group>
        </div>

    </div>
    <div class="addNode-list">
        <label for="">是否可退回：</label>
        <div class="audiu">
            <nz-radio-group [(ngModel)]="radioValue2" [nzButtonStyle]="'solid'">
                <label nz-radio-button nzValue="A">是</label>
                <label nz-radio-button nzValue="B">否</label>
            </nz-radio-group>
        </div>
    </div>
    <div class="addNode-list">
        <label for="">是否可跳过：</label>
        <div class="audiu">
            <nz-radio-group [(ngModel)]="radioValue3" [nzButtonStyle]="'solid'">
                <label nz-radio-button nzValue="A">是</label>
                <label nz-radio-button nzValue="B">否</label>
            </nz-radio-group>
        </div>
    </div>
    <div class="addNode-list">
        <label for="">是否组织节点：</label>
        <div class="audiu">
            <nz-radio-group [(ngModel)]="showOrg" [nzButtonStyle]="'solid'">
                <label nz-radio-button [nzValue]="true">是</label>
                <label nz-radio-button [nzValue]="false">否</label>
            </nz-radio-group>
        </div>
    </div>


    <div class="addNode-list" *ngIf="showOrg">
        <label for="">组织类型：</label>
        <input nz-input placeholder="" [(ngModel)]="value" (click)="showModal2()">
    </div>

    <ng-container *ngIf="!showOrg">
        <div class="addNode-list he-140">
            <label for="">通过节点提醒消息：</label>
            <textarea rows="4" nz-input [(ngModel)]="inputValue"></textarea>
        </div>
        <div class="addNode-list">
            <label for="">发送给：</label>
            <input nz-input placeholder="" [(ngModel)]="value">
        </div>
    </ng-container>
</nz-modal>





<nz-modal [(nzVisible)]="isVisible1" nzTitle="调用表单" (nzOnCancel)="handleCancel1()" (nzOnOk)="handleOk1()"
    class="addNode">
    <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="请输入功能名称/编号/助记码">
    </nz-input-group>
    <ng-template #suffixIconSearch>
        <i nz-icon type="search"></i>
    </ng-template>
    <nz-table #basicTable [nzData]="dataSet">
        <thead>
            <tr>
                <th>站点</th>
                <th>类型</th>
                <th>功能号</th>
                <th>功能名称</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{data.name}}</td>
                <td>{{data.age}}</td>
                <td>{{data.address}}</td>
                <td>{{data.name}}</td>
            </tr>
        </tbody>
    </nz-table>
</nz-modal>





<nz-modal [(nzVisible)]="isVisible2" nzTitle="选择组织类型" (nzOnCancel)="handleCancel2()" (nzOnOk)="handleOk2()"
    class="addNode">
    <nz-table #basicTable [nzData]="dataSet1">
        <thead>
            <tr>
                <th>组织类型</th>
                <th>创建人</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{data.name}}</td>
                <td>{{data.key}}</td>
            </tr>
        </tbody>
    </nz-table>
</nz-modal>


<nz-modal [(nzVisible)]="isVisible3" nzTitle="配置流转规则-规则一" (nzOnCancel)="handleCancel3()" (nzOnOk)="handleOk3()"
    class="addNode">
    <p class="text-2">当前节点：<span>项目负责人审批</span></p>
    <nz-table #basicTable [nzData]="dataSet1" class="boder1" [nzShowPagination]="false">
        <thead>
            <tr>
                <th width="20%">流转条件</th>
                <th width="70%"></th>
                <th width="10%" class="sdfas">
                    <i nz-icon type="plus-circle" theme="outline" (click)="showModal4()"></i>
                </th>
            </tr>
        </thead>
        <tbody class="set-table">
            <tr>
                <td>上级规则：</td>
                <td><span>上级审批</span>解析当事人人员关系的上级审批;</td>
                <td class="sdfasssa"><i nz-icon type="minus-square" theme="outline"></i></td>
            </tr>
            <tr>
                <td>部门规则：</td>
                <td><span>所属部门</span>悦非空间 悦非空间 悦非空间 悦非空间 悦非空间 悦非空间 悦非空间 悦非空间 </td>
                <td class="sdfasssa"><i nz-icon type="minus-square" theme="outline"></i></td>
            </tr>
            <tr>
                <td>数字规则：</td>
                <td>
                    <span>支付金额<</span> <input type="text" placeholder="请输入金额" class="label-input">
                </td>
                <td class="sdfasssa">
                    <i nz-icon type="minus-square" theme="outline"></i>

                </td>
            </tr>
        </tbody>
    </nz-table>
    <div class="text-table">
        <div class="text-table-title">
            <span>审批角色/用户</span>
            <i nz-icon type="plus-circle" theme="outline" (click)="showModal5()"></i>
        </div>
        <div class="text-table-body">
            <nz-tag nzMode="closeable" class="close" (nzOnClose)="onClose()" (nzAfterClose)="afterClose()">采购经理</nz-tag>
            <nz-tag nzMode="closeable" class="close" (nzOnClose)="onClose()" (nzAfterClose)="afterClose()">采购经理</nz-tag>
            <nz-tag nzMode="closeable" class="close" (nzOnClose)="onClose()" (nzAfterClose)="afterClose()">采购经理</nz-tag>
            <nz-tag nzMode="closeable" class="close" (nzOnClose)="onClose()" (nzAfterClose)="afterClose()">采购经理</nz-tag>
        </div>
    </div>
</nz-modal>


<nz-modal [(nzVisible)]="isVisible4" nzTitle="选择流转条件" (nzOnCancel)="handleCancel4()" (nzOnOk)="handleOk4()"
    class="addNode">
    <nz-table #basicTable [nzData]="dataSet1" [nzShowPagination]="false">
        <thead>
            <tr>
                <th width="30%">分类</th>
                <th width="40%">流转条件</th>
                <th width="30%">字段类型</th>
            </tr>
        </thead>
        <tbody class="set-table">
            <tr>
                <td> 付款申请-ET-01</td>
                <td>所有流程</td>
                <td>年有流程</td>
            </tr>
            <tr>
                <td>支付金额</td>
                <td>上级审批</td>
                <td>所属部门</td>
            </tr>
            <tr>
                <td>数字输入项</td>
                <td>上级审批</td>
                <td>所属部门</td>
            </tr>
        </tbody>
    </nz-table>
</nz-modal>



<nz-modal [(nzVisible)]="isVisible5" nzTitle="选择角色/用户" (nzOnCancel)="handleCancel5()" (nzOnOk)="handleOk5()"
    class="addNode">
    <nz-tabset>
        <nz-tab nzTitle="用户">
            <div class="tabl-filtrate-left">
                <div class="tabl-filtrate">
                    <label for="">性别:</label>
                    <nz-select style="width: 120px;" [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="全部">
                        <nz-option nzValue="男" nzLabel="男"></nz-option>
                        <nz-option nzValue="女" nzLabel="女"></nz-option>
                    </nz-select>
                    <label for="">状态:</label>
                    <nz-select style="width: 120px;" [(ngModel)]="selectedValue1" nzAllowClear nzPlaceHolder="全部">
                        <nz-option nzValue="1" nzLabel="1"></nz-option>
                        <nz-option nzValue="1" nzLabel="1"></nz-option>
                    </nz-select>
                    <nz-input-group [nzSuffix]="suffixIconSearch" class="set-input-w150">
                        <input type="text" class="set-input-f" nz-input placeholder="请输入用户姓名" />
                    </nz-input-group>
                </div>

                <nz-tree class="set-i-color-f" [nzData]="nodes" nzCheckable="true" nzMultiple="true"
                    [nzCheckedKeys]="defaultCheckedKeys" [nzExpandedKeys]="defaultExpandedKeys"
                    [nzSelectedKeys]="defaultSelectedKeys" (nzClick)="nzEvent($event)"
                    (nzExpandChange)="nzEvent($event)" (nzCheckBoxChange)="nzEvent($event)">
                </nz-tree>
            </div>
            <div class="tabl-filtrate-right">
                <nz-tag nzMode="closeable" class="close1" (nzOnClose)="onClose()" (nzAfterClose)="afterClose()">采购经理
                </nz-tag>
                <nz-tag nzMode="closeable" class="close1" (nzOnClose)="onClose()" (nzAfterClose)="afterClose()">采购经理
                </nz-tag>
                <nz-tag nzMode="closeable" class="close1" (nzOnClose)="onClose()" (nzAfterClose)="afterClose()">采购经理
                </nz-tag>
                <nz-tag nzMode="closeable" class="close1" (nzOnClose)="onClose()" (nzAfterClose)="afterClose()">采购经理
                </nz-tag>
            </div>

        </nz-tab>
        <nz-tab nzTitle="角色">
            <div class="tabl-filtrate-left">
                <div class="tabl-filtrate">
                    <label for="">安全级别 < </label> <input class="inout-s" nz-input placeholder="请输入安全系数"
                            [(ngModel)]="value2">
                            <nz-input-group [nzSuffix]="suffixIconSearch" class="set-input-w150">
                                <input type="text" class="set-input-f" nz-input placeholder="请输入用户姓名" />
                            </nz-input-group>
                </div>
                <nz-table #basicTable [nzData]="dataSet" [nzShowPagination]="false">
                    <thead>
                        <tr>
                            <th>保留</th>
                            <th>角色</th>
                            <th>安全</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>是</td>
                            <td>联系人生日提醒</td>
                            <td>10</td>
                            <td><label nz-checkbox [(ngModel)]="checked1"></label></td>
                        </tr>
                        <tr>
                            <td>是</td>
                            <td>联系人生日提醒</td>
                            <td>10</td>
                            <td><label nz-checkbox [(ngModel)]="checked2"></label></td>
                        </tr>
                        <tr>
                            <td>是</td>
                            <td>联系人生日提醒</td>
                            <td>10</td>
                            <td><label nz-checkbox [(ngModel)]="checked3"></label></td>
                        </tr>
                        <tr>
                            <td>是</td>
                            <td>联系人生日提醒</td>
                            <td>10</td>
                            <td><label nz-checkbox [(ngModel)]="checked4"></label></td>
                        </tr>
                        <tr>
                            <td>是</td>
                            <td>联系人生日提醒</td>
                            <td>10</td>
                            <td><label nz-checkbox [(ngModel)]="checked5"></label></td>
                        </tr>
                    </tbody>
                </nz-table>



            </div>
            <div class="tabl-filtrate-right">
                <nz-tag nzMode="closeable" class="close1" (nzOnClose)="onClose()" (nzAfterClose)="afterClose()">采购经理
                </nz-tag>
                <nz-tag nzMode="closeable" class="close1" (nzOnClose)="onClose()" (nzAfterClose)="afterClose()">采购经理
                </nz-tag>
                <nz-tag nzMode="closeable" class="close1" (nzOnClose)="onClose()" (nzAfterClose)="afterClose()">采购经理
                </nz-tag>
                <nz-tag nzMode="closeable" class="close1" (nzOnClose)="onClose()" (nzAfterClose)="afterClose()">采购经理
                </nz-tag>
            </div>



        </nz-tab>
    </nz-tabset>
</nz-modal>